.top-menu {
    background: black;
    padding: 2px 15px;
  }
  
  .logo {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  
  .courses {
    max-width: 500px;
    margin: 50px auto;
  }
  /* .buttons{
    margin: 0;
    left: 100%;
    transform: translate(-100%);
  } */